<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.Project1.repository.DetailImgRepository">
    <insert id="reg" parameterType="DetailImg">
        insert into detail_img(path, product_id)
        values
        <foreach collection="list" item="detailImg" separator=",">
            (#{detailImg.path}, #{detailImg.productId})
        </foreach>
    </insert>
</mapper>