<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/js/admin/products/edit.js"></script>
</head>
<body>
<main layout:fragment="main" class="n-panel n-main-panel ">
    <section class="d:flex fl-grow:1 ai:center mb:8 border-bottom">
        <div>
            <img id="imgId" th:src="${product.img}" alt="첨부이미지" class="w:7 mt:10 ml:10 p:5 border"/>
            <input class="m:10" type="file" name="paths" multiple/>
        </div>
        <form id="frm" action="" class="d:flex  flex-direction:column w:100p mr:10 border-left pl:10">
            <input type="hidden" name="id" class="id" th:value="${product.id}">
            <label>상품이름</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6 name" name="name"
                   th:value="${product.name}">
            <label>판매가</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6 sellingPrice" name="sellingPrice"
                   th:value="${product.sellingPrice}">
            <label>공급가</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6 supplyingPrice" name="supplyingPrice"
                   th:value="${product.supplyingPrice}">
            <label>설명</label>
            <textarea class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6 description" rows="7" name="description"
                      th:text="${product.description}"></textarea>
            <label>등록일자</label>
            <input class="mt:1 bd border-width:1 bd-radius:3 w:100p p:3 pl:6 " th:value="${product.regDate}">


            <button type="submit" class="n-btn mt:4" onclick="edit()">수정</button>
            <a type="button" class="n-btn n-btn-color:sub mt:1" th:href="@{/admin/products}">목록</a>
        </form>
    </section>

    <section class="fl-grow:1 ai:center">

        <div class="form-group d:flex mt:3  ">
            <div class="bg-color:base-2 w:3 h:3 d:flex jc:center ai:center bd-radius:4    flex-shrink:0 mr:3 mb:2 ">
                <label class="form-label-file d:flex  jc:center ai:center">
                    <span class="icon icon:plus"></span>
                    <input class="form-control form-control-user d:none" type="file" multiple="multiple"
                           name="product_detail_image" id="" onchange="setDetailImage(event);">
                </label>
            </div>
            <div class="w:100p">
                <div id="images_container" class="bd-radius:4 d:flex flex-grow:1  "></div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
