<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="main" class="n-panel n-main-panel d:flex flex-direction:column">
    <!--item 삭제-->
    <form  method="post" class="flex flex-col w-full">
        <table class="n-table n-table-style:striped">
            <thead>
            <tr>
                <th scope="col" class="w:2"></th>
                <th scope="col">상품 이름</th>
                <th scope="col">판매가</th>
                <th scope="col">공급가</th>
                <th scope="col">이미지</th>
                <th scope="col">등록일자</th>
            </tr>
            </thead>
            <!--멀티 체크 박스 일괄처리-->
            <tbody>
            <tr th:each="product: ${products}">
                <td>
                    <input type="checkbox" class="n-toggle n-toggle-type:check-box n-toggle-size:2"
                           name="ids" th:id="${product.id}" th:value="${product.id}">
                    <label th:for="${product.id}"></label>
                </td>
                <td scope="col" th:text="${product.name}">상품 이름</td>
                <td scope="col" th:text="${product.sellingPrice}">판매가</td>
                <td scope="col" th:text="${product.supplyingPrice}">공급가</td>
                <td scope="col">
                    <!--클릭 상세 페이지-->
                    <a th:href="@{/admin/products/{id}(id=${product.id})}">
                        <img id="imgId" th:src="@{'/image/products/main/'+${product.img}}" alt="첨부이미지" class="w:1"/>
                    </a>
                    <!--클릭 상세 페이지-->
                </td>
                <td scope="col" th:text="${#dates.format(product.regDate, 'yyyy-MM-dd') }">등록일자</td>

            </tr>
            </tbody>
            <!--멀티 체크 박스 일괄처리-->
        </table>
        <div class="d:flex jc:end mt:3">
            <!--등록 하러가기-->
            <div class="mr:3">
                <a href="/admin/products/reg" th:href="@{/admin/products/new}" class="n-btn n-btn-size:3"> 등록 </a>
            </div>
            <!--등록 하러가기-->

            <!--item 삭제-->
            <button class="n-btn n-btn-size:3 n-btn-color:accent mr:3">
                삭제
            </button>
            <!--item 삭제-->
        </div>
    </form>

</main>
</body>
</html>
