<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/inc/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main layout:fragment="main" class="flex flex-col w-full n-panel n-main-panel">
    <form method="post" action="/admin/products" class="n-form n-form-type:outline-box px:10">
        <div>
            <label>
                <span>상품 이름</span>
                <input type="text" name="name"/>
            </label>
        </div>
        <div>
            <label>
                <span>판매가</span>
                <input type="text" name="sellingPrice"/>
            </label>
        </div>
        <div>
            <label>
                <span>공급가</span>
                <input type="text" name="supplyingPrice"/>
            </label>
        </div>
        <div>
            <label>
                <span>상품 설명</span>
                <textarea type="text" name="description" class="height:7"></textarea>
            </label>
        </div>
        <div>
            <label>
                <span>사진</span>
                <input type="file" name/>
            </label>="img"
        </div>

        <div>
            <label>
                <span>디테일 사진</span>
                <input type="file" name="paths" multiple/>
            </label>
        </div>
        <label for="lang">카테고리</label>
        <select name="categoryId" class="n-dropdown">

            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    value="javascript"
                    class="n-dropdown-item"
                    th:text="${category.name}">JavaScript
            </option>

        </select>

        <div class="d:flex flex-direction:row justify-content:end">
            <button class="n-btn n-btn-size:3">
                상품 등록
            </button>
            <div>
                <a href="/admin/products" class="n-btn n-btn-size:3">취소</a>
            </div>
        </div>
    </form>
</main>
</body>
</html>